<!DOCTYPE html>
<html lang="en">
<!-- Main Template View -->

<head>

    <link rel="stylesheet" type="text/css" href="css/reset.css">
    <link rel="stylesheet" type="text/css" href="css/style.css">

    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- Compiled and minified CSS for Materlize-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/css/materialize.min.css">
    <!-- jquery- needed for materialize -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <!-- Modernizr -->
    <script src="javascript/modernizr.js"></script>
    <!-- Compiled and minified JavaScript for Materialize-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
    <title>Can I Eat This?</title>
</head>

<body>




    <div id="topSection">
        {{{ body }}}
    </div>

</body>

<footer>
    2016 Copyright Jamie Jahdasha Brianne
</footer>



<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.6/js/materialize.min.js"></script>
<script src="javascript/additives.js"></script>
<!-- modal javascript -->
<script src="javascript/script.js"></script>
</body>

</HTML>