<!-- main section/search results -->
	<div id="searchSection" class="container">


	<div id= "searchAgain">
		<a href="/"><button class= "buttons" id="newSearchButton">Search again?</button></a>
	</div>

</div>

<script src="javascript/searchScript.js"></script>
