<div class="container">
    <div class="searchSection">
        <form>
            <input type="text" id="searchTextbox" placeholder=" Search..." required>
            <input type="button" class="waves-effect btn" value="Search" id="searchButton">
        </form>
    </div>
</div>
