<!-- Home page display template -->

<div class="container">
    <form method="get" action="/searchResults">
        <input type="text" id="searchTextbox" name="upccode" placeholder=" Search..." required><br>
        <input type="submit" name="name" value="Search" id="searchButton">
    </form>

    <!-- Display UPC scanning box here -->
    <div id="interactive" class="viewport"></div>
    

</div>