#logo{
  margin-left: 20px;
}
#header{
  background-color: gray;
}
#topSection{
  background: url('https://pixabay.com/static/uploads/photo/2014/06/11/17/00/cook-366875_960_720.jpg');

}
#searchTextbox{
  border: 2px gray solid;
  padding-left: 5px;
  background-color: white;
}
i{
  margin-left: 200px;
}
form {
    width:500px;
    margin:50px auto;
    margin-top: 0px;
    margin-bottom: 200px;
    padding-top: 200px;
    padding-bottom: 70px;
}
#searchResults{
    background: white;
}
footer{
  background-color: gray;
  padding: 20px;
  text-align: center;
  color: white;
  position: absolute;
    left: 0;
    bottom: 0;
    height: 5%;
    width: 100%;
}
